// Colors 
$lightGrey: #E0E1E2;
$darkBlue: #005F71;
$lightBlue: #A8D4DB;
$Grey: #6C7375;
$Blue: #445B70;
$White: #fff;

// Font Sizes 
$font-med: 1.5rem; // 24px
$font-lg: 11.25rem; // 180
$font-title: 3.75rem; // 60px
$font-pg: 1.9rem; // 31px
$font-sum: 1.25rem; // 20px
$font-sm: 1rem; // 16px
